table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 20px 45px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #2ecdd3}

th {
    background-color: #4CAF50;
    color: white;
}

table {
    width: 60%;
    display:block;
}
thead {
    display: inline-block;
    height: 70px;
    width: 100%;
}
tbody {
    max-height: 900px;
    display: inline-block;
    overflow: auto;
    width: 100%;
}



tbody::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

tbody::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

tbody::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
